@import '../../styles/variables';

.sorting {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    display: flex;

    @media (max-width: $screen-tablet) {
        margin: 10px auto;
        width: 95%;
      }
}

.btn {
    width: 33.33%;
    height: 50px;
    text-transform: uppercase;
    padding: 15px;
    background-color: #fff;

    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;

    cursor: pointer;
    
    border-radius: 0;
    border: 1px solid #dfe5ec;

    @media (max-width: $screen-tablet) {
        padding: 5px;

      }
}

.btn:first-child {
    border-radius: 5px 0 0 5px;
}

.btn:last-child {
    border-radius: 0 5px 5px 0;
}

.active {
    background-color: $primary-color;
    color: #fff;
    cursor: default;
}