@import '../../styles/variables';

.filters {
    display: flex;
    flex-direction: column;

    width: 232px;
    height: 252px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    font-family: 'Open Sans', sans-serif;

    @media (max-width: $screen-tablet) {
        margin: 0 auto;
        width: 95%;
        height: 180px;
        gap: 5px;
      }
}

.filters-header {
    margin: 20px 0px 10px 20px;

    font-size: 12px;
    line-height: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    text-transform: uppercase;
}

.label {
    display: flex;
    align-items: center;
    line-height: 20px;
    height: 40px;
    font-size: 13px;
    padding-left: 40px;

    @media (max-width: $screen-tablet) {
        line-height: 10px;
        height: 20px;
      }
}

.label:hover {
    background-color: #F1FCFF;
    cursor: pointer;
}

.input {
  appearance: none;
}

.customBox {
    margin-left: -20px;
    position: absolute;
    width: 20px;
    height: 20px;
    transition: background 0.2s;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='1.5' stroke='%239ABBCE'/%3E%3C/svg%3E%0A");
}

.input:checked + .customBox {
    transition: background 0.2s;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='1.5' stroke='%232196F3'/%3E%3Cpath d='M8.28571 14L4 10.1612L5.20857 9.0787L8.28571 11.8273L14.7914 6L16 7.09021L8.28571 14Z' fill='%232196F3'/%3E%3C/svg%3E%0A");
}
